%h1 Listing Spare Parts

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th ID
        %th Description
        %th Car model
        %th Car maker
        %th Price
        %th Stock
        %th Reorder
        %th
        %th

    %tbody
      - @parts_spare_parts.each do |parts_spare_part|
        %tr
          %td= parts_spare_part.id
          - td_for(parts_spare_part, :description)
          - td_for(parts_spare_part, :car_model)
          - td_for(parts_spare_part, :car_maker)
          - td_for(parts_spare_part, :price)
          - td_for(parts_spare_part, :stock)
          - td_for(parts_spare_part, :reorder)
          %td= link_to 'Edit', edit_parts_spare_part_path(parts_spare_part)
          %td= link_to 'Destroy', parts_spare_part, method: :delete, data: { confirm: 'Are you sure?' }

%br
