%nav#sidenav-main.navbar.navbar-vertical.fixed-left.navbar-expand-md.navbar-light.bg-white
  .container-fluid
    #sidenav-collapse-main.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          = link_to root_path, class: 'nav-link' do
            %i.fas.fa-tachometer-alt.text-blue
            Dashboard
