.bg-light.border-right#sidebar-wrapper
  .sidebar-heading Menu
  .list-group.list-group-flush
    = link_to root_path, class: 'list-group-item list-group-item-action' do
      %i.fas.fa-home.text-blue
        Home

  
